html {
  font-size: 100px;
  background-color: #282a35;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-color: #f6f6f6;
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
  html {
    font-size: 50px;
  }
}
@media only screen and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 70px;
  }
 
}
@media only screen and (min-device-width: 412px) and (-webkit-min-device-pixel-ratio: 3) {
  html {
    font-size: 70px;
  }
}
.header {
  padding: 0;
  display: flex;
  height: 0.56rem;
  background-color: #282a36;
  padding-left: 0.06rem;
  padding-right: 0.06rem;
  box-shadow: 0 2px 3px rgba(26, 26, 26, 0.1);
  width: 100%;
  position: fixed;
  z-index: 999;
}
.header-main-container {
  width: 100%;
  display: flex;
  min-width: 4rem;
}
.user-info-avatar {
  height: 0.48rem;
  width: 0.48rem;
  position: relative;

  border-radius: 50%;
  border: 0.02rem solid #282a36;
  display: flex;
}
.user-info-name {
  font-size: 0.14rem;
  color: aliceblue;
}
.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.siderAndcontent-container {
  display: flex;
  height: 100%;
}
.menu-container {
  width: 1.5rem;
}
.website-name-span {
  font-size: 0.24rem;
  line-height: 0.48rem;
  color: white;
  padding-left: 0.1rem;
}
.github-icon {
  font-size: 0.2rem;
  padding-left: 0.04rem;
  padding-top: 0.02rem;
  color: white;
  cursor: pointer;
}
.footer-container {
  background-color: #282a36;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-layout-sider {
  width: 1.5rem;
  min-width: 1.5rem;
}
.input-search-container {
  display: flex;
  flex-direction: row-reverse;
  /* padding-left: 1.5rem;
  padding-right: 0.1rem; */
  /* justify-content: space-between; */
  width: 100%;
  align-items: center;
}
.input-search {
  max-width: 2rem;
  min-width: 0.8rem;
}
.ant-input-affix-wrapper {
  border-radius: 20px;
}
.ant-layout-content {
  padding-top: 0.66rem;
  padding-left: 0.06rem;
  padding-right: 0.06rem;
}
#nprogress .bar {
  background-color: #1890ff !important;
}
.content-container {
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
}
