.view-edit-container {
  bottom: 0;
  margin: 10px;
  height: 100%;
}
.tox-tinymce {
  border-radius: 4px;
}
.view-editor {
  margin-bottom: 10px;
}
.view-header-container {
  margin: 10px 0;
  display: flex;
  .view-header-text {
    width: 80px;
    text-align: center;
    line-height: 32px;
  }
}
.editor-height-operator {
  width: 100%;
  height: 4px;
  cursor: n-resize;
  position: relative;
  top: -1px;
}
