body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
/* structural elements 结构元素 */
dl,
dt,
dd,
ul,
ol,
li,
/* list elements 列表元素 */
pre,
/* text formatting elements 文本格式元素 */
fieldset,
lengend,
button,
input,
textarea,
/* form elements 表单元素 */
th,
td {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}

#nprogress .bar {
  background: #62d9fb !important; //自定义颜色
}

$white: #f9f9f9;

li {
  list-style: none;
}

html {
  min-width: 1100px;
  background-color: $white;
  --backgroundColor: #231b30;
  --mainDerive1: #b4989e;
  --linkColor: #ec9bab;
  --fontColor: #ecc3cb;
  --divider: #3e4b5e;
  --scrollBarColor: #cccccc;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollBarColor);
}

::-webkit-scrollbar-track {
  background: $white;
}

.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  z-index: 3;
  -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  top: 0;
  position: sticky;
  position: -webkit-sticky;

  .header_main_container {
    display: flex;
    justify-content: space-between;

    .header_right {
      position: relative;
      margin: auto 0;
      padding-right: 2%;

      .ant-input-affix-wrapper {
        border-radius: 20px;

        input.ant-input:focus {
          border-color: $white;
        }
      }
    }
  }

  .header_left {
    display: flex;
    height: 50px;

    padding-left: 2%;
    .header_userName {
      position: relative;
      margin: auto 20px;
      width: 80px;
      font-size: 18px;
    }
    .menu_container {
      display: flex;
      list-style: none;
      justify-content: space-between;
      align-items: center;
      width: 180px;
      height: 100%;

      li {
        margin: 0 auto;
      }

      a {
        color: #7f7f7f;
        text-decoration: none;
      }

      a:hover {
        color: black;
      }
    }
  }
}
//内容
.content {
  position: sticky;
  height: 2200px;
  margin-top: 500px;
  z-index: 2;
  background-color: white;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
}
//图
.banner {
  width: 100%;
  background-color: $white;
  position: fixed;
  z-index: 1;
  .banner_title_container {
    font-size: 48px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    h1 {
      color: #f9f9f9;
    }
  }
  .img_clock_container {
    position: absolute;
    width: 200px;
    height: 100px;
    right: 3%;
    z-index: 2;
  }

  .img_clock_container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -1;
  }
}

.index_image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.main_index_container {
  display: flex;
  height: 100%;
  justify-content: center;
  background-color: $white;
  padding-top: 10px;
  .main_content_container {
    width: 730px;
    height: 100%;
    background-color: white;
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  }
  .user_info_container {
    width: 260px;
    height: 400px;
    background-color: white;
    margin-right: 10px;
    border-radius: 6px; //头像外框圆角
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
    position: sticky;
    top: 70px;
    .user_info_avatar_container {
      width: 170px;
      height: 170px;
      position: relative;
      margin: 0 auto;
      margin-top: 10px;
      border-radius: 50%;
      background-color: lightslategray;

      img {
        z-index: 2;
        height: 100%;
        border-radius: 50% !important;
        position: absolute;
      }
    }
    .user_info_avatar_container:after {
      content: "TsuBaSa";
      color: white;
      font-size: 22px;
      z-index: 1;
      position: absolute;
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%);
    }
  }
}

footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: #5f5f5f;
  }

  ul {
    text-align: center;
  }
}
